@charset "UTF-8";

:root {
   --color-01: #F24B59;
   --color-02: #F24B6A;
   --color-03: #972c40;
   --color-04: #203A40;

   --color-dark: #171d19;

   --font-padrao: 'Inter', Arial, sans-serif;
   --font-secundaria: Arial, sans-serif;

   font-size: 18px;
}

* {
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
}

body {
   width: 100%;
   height: 100vh; min-height: 100vh;
   padding: 30px;
   font-family: var(--font-padrao);
   display: flex;
   justify-content: center;
   align-items: center;
}

main {
   width: 70%; max-width: 1000px;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 10px;
}
main > div {
   width: 50%;
   height: 100%;
}

main .content {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   gap: 15px;
}
main .content h1 {
   font-size: 3rem;
   color: var(--color-01);
   min-width: 221px;
}
main .content p {
   font-size: 1.2rem;
   color: var(--color-dark);
   min-width: 221px;
}
main .content button {
   margin-top: 10px;
   padding: 12.5px 25px;
   font-size: 1rem;
   font-family: var(--font-padrao);
   border-radius: 20px;
   border: none;
   background-color: var(--color-01);
   color: white;
   font-weight: 500;
   cursor: pointer;
   transition: all .3s;
}
main .content button:hover {
   cursor: pointer;
   transition: all .3s;
   background-color: var(--color-03);
}

main .image {
   display: flex;
   justify-content: center;
   align-items: center;
}
main .image img {
   width: 400px;
}




@media (max-width: 1050px) {
   main {
      width: 85%;
   }
}
@media (max-width: 850px) {
   main .image {
      display: none;
   }
   main .content {
      width: 100%;
      justify-content: center;
      align-items: center;
      text-align: center;
   }
}
@media (max-width: 400px) {
   :root {
      font-size: 14px;
   }
}

@media (max-height: 535px) {
   main .image img {
      width: 300px;
   }
}